.login-reg-route {
    color: white;
    background-color: #4A2545;
    padding: 8px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.reg-route-header {
    padding: 8px;
}