.learn-translate-box {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(168,69,151,0.832837358576243) 23%, rgba(111,45,99,1) 72%, rgba(0,0,0,1) 98%);    padding: 8px;
    border-radius: 30px;
    box-shadow: 8px 8px 12px;
    width: 100%;
}

.learn-translate-header {
    color: white;
}

.learn-translate-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.learn-translate-form > * {
    margin: 4px;
}

.learn-translate-form label {
    color: white;
}

.learn-translate-word-container {
    /* background-color: #beac7a11; */
    border-radius: 30px;
}

.learn-translate-word-container p {
    color: white;
}

.learn-translate-word-container h2 {
    padding: 4px; 
    /* background-color: #cfbf9300; */
    color: white;
}

.learn-translate-stats {
    color: white;
}

.learn-translate-stats p {
    margin: 0;
}

.learn-translate-stats .correct {
    color: rgb(0, 255, 0);
}

.learn-translate-stats .incorrect {
    color: rgb(255, 0, 0);
}



